.appear {
    animation: appear 0.5s ease-in-out forwards;
    top: -100px;
}

.disappear {
    animation: disappear 0.5s ease-in-out forwards;
    top: 0;
}

@keyframes appear {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes disappear {
    0% {
        top: 0;
    }
    100% {
        top: -100px;
    }
}

header {
    z-index: 2; /* マスクより手前にするため */
}

.header-fade-in {
    background-color: white;
    animation: header-fade-in 0.5s ease-in-out forwards;
}

@keyframes header-fade-in {
    0% {
        opacity: 0;
        top: 0;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}
