.image-slide-show {
    position: relative;
}

.image-slide-show > :nth-child(1) {
    position: absolute;

    animation: fade-out 0.2s ease-in-out forwards;
    opacity: 0;
}

.image-slide-show > :nth-child(2) {
    position: absolute;

    animation: fade-in 0.2s ease-in-out forwards;
    opacity: 0;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }    
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}
